<div class="row">
	<div class="placeholder col-sm-12">
		<h3>Select a user you want to report and the reason for the report:</h3>

		<div class="btn-group" role="group">
			<button class="btn btn-default disabled" type="button">Users</button>

			<div class="btn-group">
				<button id="drop-togg" class="btn btn-default dropdown-toggle reported" data-toggle="dropdown"> Select One</span></button> 
				<ul class="dropdown-menu dmReport" role="menu">
					<% @users.each do |user| %>
						<% if user.username != current_user.username %>
							<li> <a href="#"><%=user.username%></a></li>
						<% end %>
					<% end %>
				</ul>
			</div>

			<button class="btn btn-default disabled" type="button">Reasons</button>

			<div class="btn-group">
				<button id="drop-togg" class="btn btn-default dropdown-toggle reason" data-toggle="dropdown">Select One</button> 
				<ul class="dropdown-menu dmReason" role="menu">
					<li><a href="#">Negative Attitude</a></li>
					<li><a href="#">Use of Foul Language</a></li>
					<li><a href="#">Spam</a></li>
					<li><a href="#">Misleading Information</a></li>
				</ul>
			</div>
		</div>

		<br><br>

		<%= form_for @report do |f| %>
		<%= f.hidden_field :reported, class: "form-control-report"%>
		<%= f.hidden_field :reason, class: "form-control-reason"%>

		<%= f.submit "Report User", class: "btn btn-primary", type: "submit" %>
		<% end %>

	</div>
</div>
