<div class="panel panel-default">
	<div class = "panel-heading"><%= @conversation.subject %></div>

	<div class="panel-body">
		<div class="messages">
			<% @conversation.receipts_for(current_user).each do |receipt| %>
			<div class="media">
			   <% message = receipt.message %>
             <div class="media-left">
			   <%= message.sender.username %>
			</div>


			<div class="media-body">
				<h4 class="media-heading">   <%= message.body %></h4>
			     <%= message.created_at.strftime("%-d %B %Y, %H:%M:%S") %>

			
             </div>
         </div>
			<% end %>
		</div>
	</div>
</div>

<%= form_tag reply_conversation_path(@conversation), method: :post do %>
	<div class="form-group">
		<%= text_area_tag 'body', nil, cols: 3, class: 'form-control', placeholder: 'Write a reply..', required: true %>
	</div>
	<%= submit_tag "Send Message", class: 'btn btn-primary' %>
	<% end %>