<div class="container">
  <div class="col-md-8">
    <h1 class="page-header">
      Available Landmarks
       <small>By Looprac</small>
    </h1>

	<% @landmarks.each do |landmark| %>
		<h2> <%= link_to landmark.name, landmark %> </h2>
		<p class="date"><span class="glyphicon glyphicon-time"></span><%= landmark.created_at.strftime(" %B %d, %Y") %></p>
		<hr>

		<% if user_signed_in? and current_user.admin? %>
			<button type="button" class="btn btn-default"><%= link_to 'Edit', edit_landmark_path(landmark) %></button>
			<button type="button" class="btn btn-warning"><%= link_to 'Destroy', landmark_path(landmark),method: :delete,data: { confirm: 'Are you sure?' } %></button>	
		<% end %>
		<hr>
	<% end %>

	<% if user_signed_in? and current_user.admin? %>
		<button type="button" class="btn btn-default"><%= link_to 'New landmark', new_landmark_path %></button>
		<button type="button" class="btn btn-default"><%= link_to 'View landmark Suggestions', landmarks_suggestions_path %></button>
	<% else%>
		<button type="button" class="btn btn-default"><%= link_to 'Suggest New landmark', new_landmark_path %></button>
	<% end %>

	<p>
		<button type="button" class="btn btn-default"><%= link_to 'Back', root_path %></button>
    </p>

</ul>
</div>
</div>
