<% if current_user.blank? %>
    <%= link_to 'Back to Home', root_path %> 
<% else %>
    <% calculate_completition(current_user) %>
    <!DOCTYPE html>
    <html>
    <head>
        <title>Profile</title>
    </head>
    <body>
        <div class="container">
            <br></br>
            <div class="row">
            <div class="col-sm-3">
                <!--left col-->
                <ul class="list-group">
                    <li class="list-group-item text-muted main-color" contenteditable="false">Profile</li>
                    <li class="list-group-item text-right"><span class="pull-left"><strong class="">Name</strong></span><%= current_user.username %></li>
                    <li class="list-group-item text-right"><span class="pull-left"><strong class="">Joined</strong></span><%= current_user.created_at.strftime("%d.%m.%Y") %></li>
                    <li class="list-group-item text-right"><span class="pull-left"><strong class="">Last seen</strong></span><%= current_user.last_sign_in_at.strftime("%d.%m.%Y") %></li>
                    <li class="list-group-item text-right"><span class="pull-left"><strong class="">Rank: </strong></span><%= current_user.sign_in_count %></li>
                    <li class="list-group-item text-right"><span class="pull-left"><strong class="">Gender:</strong></span><% if current_user.gender == 1 %> <%= "Female" %> <% else %> <%= "Male" %> <% end %></li>
                </ul>
                <div class="panel panel-default">
                 <div class="panel-heading">
                    <p class="main-color">About my car</p>
                </div>
                <div class="panel-body text-right">
                <span class="pull-left"><strong class="">Car Model: </strong></span> <% if current_user.car_model.blank? %><%= %> <% else %> <%= current_user.car_model %> <% end %>
                </div>
            </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <p class="main-color">Social media</p>
                    </div>
                    <div class="panel-body">
                    <% if current_user.facebook.blank? %><%= %> <% else %> <%= link_to("Facebook", current_user.facebook) %> <% end %>
                    <% if current_user.twitter.blank? %><%= %> <% else %> <%= link_to("Twitter", current_user.twitter) %> <% end %>
                    <% if current_user.googleplus.blank? %><%= %> <% else %> <%= link_to("Google Plus", current_user.googleplus) %> <% end %>

                    </div>
                </div>
                    
                  
                    <ul class="list-group">
                        <li class="list-group-item text-muted main-color">Activity</li>
                        <li class="list-group-item text-right"><span class="pull-left"><strong>Rides offered</strong></span> 15</li>
                        <li class="list-group-item text-right"><span class="pull-left"><strong>Rides joined</strong></span> 13</li>
                        <li class="list-group-item text-right"><span class="pull-left"><strong>Score</strong></span> <%= current_user.points %> </li>
                        <% if current_user.level.blank? %>
                            <li class="list-group-item text-right"><span class="pull-left"><strong>Title</strong></span>  <%= "LooPrac Rookie" %></li>
                        <% else %>
                            <li class="list-group-item text-right"><span class="pull-left"><strong>Title</strong></span>  <%= current_user.level %></li>
                        <% end %>                       
                    </ul>
                </div>


                <div class="col-sm-9">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <p class="main-color"><%= current_user.first_name %>'s Bio</p>
                        </div>
                        <div class="panel-body"> A description about me.

                        </div>
                    </div>
                </div>


            <div class="col-sm-6">
                <div class="progress">
                  <div class="progress-bar" role="progressbar" aria-valuenow= <%= current_user.percentage %> aria-valuemin="0" aria-valuemax="100" style="width: <%= current_user.percentage %>%;">
                    <%= current_user.percentage %>%
                  </div>
                </div>
            </div>


        </div>
        <br></br>
        </div>
    </body>
    </html>
<% end %>
