<div class="row">
<div class="col-sm-7">
<br>
<div class="list-group">
  <% @rides.each do |r| %>

    <div class="list-group-item clearfix">
      <% @user = @users.find(r.user_id) %> 
      <h4 class="list-group-item-heading"> <%= link_to @user.username, @user %> offered a ride from <%= @landmarks.find(r.source_id).name %> to <%= @landmarks.find(r.destination_id).name %> </h4>
      <p class="list-group-item-text"> Number of seats: <%= r.seatNum %> </p>
      <p class="list-group-item-text"> Description: <%= r.description %> </p>
      <% if not current_user.id == r.user_id  %>
        <br>



         <% if @user_requests.include?(r.id) %>
        

           <!-- @author: Zuishek, Modified the button to be disabled once the request has been sent -->
           <button type="button" class="btn btn-default disabled" >Ride Request sent </button>
           <!-- This is a link to form a new message to the owner of the ride which the user has requested -->
           <%= link_to 'New Message', new_message_path(:userID => r.user_id), class: 'btn btn-default btn-primary' %>

        <% else %>
          <!-- @author:ISpoonJelly, added a check to see if there's a room in the Ride -->
          <% if r.seatNum > 0 %>
            <button type="button" class="btn btn-default" ><%= link_to 'Send Request', requests_path(:ride_id => r.id, :requester_id => current_user.id), :method => :post %></button>
          <% else %>
            <p style="background-color: #e94331; font-size: 90%"> Ride is fully booked</p>
          <% end %>
        <% end %>    
      <% end %>
    </div>
    <br>  
  <% end %>
  
</div>
</div>
</div>

