<ul class="nav nav-tabs">
  <li role="presentation" class="active"><a href="#">My Rides</a></li>
  <li role="presentation"><%= link_to 'Requests', :controller => "/requests" %></li>
</ul>
<br>

<div class="list-group">
  <% @rides.each do |r| %>
  <li class="list-group-item">
    <h4 class="list-group-item-heading">Ride from <%= @landmarks.find(r.source_id).name %> to <%= @landmarks.find(r.destination_id).name %> </h4>
    <p class="list-group-item-text"> Number of seats: <%= r.seatNum %> </p>
    <p class="list-group-item-text"> Description: <%= r.description %> </p>
    <%= link_to 'Edit', edit_ride_path(r) %>
    <%= link_to 'Destroy', ride_path(r),
    method: :delete,
    data: { confirm: 'Are you sure?' } %>
  </a>
  </li>

  <br>
  <% end %>
  
</div>