<ul class="nav nav-tabs">
  <li role="presentation" class="active"><a href="#">Rides</a></li>
  <li role="presentation"><%= link_to 'Reviews', ratings_user_path(@user) %></li>
  <li role="presentation"><%= link_to 'Reports', reports_user_path(@user) %></li>
</ul>
<br>

<div class="list-group">
  <% @rides.each do |r| %>
  <li class="list-group-item">
    <h4 class="list-group-item-heading">Ride from <%= @landmarks.find(r.source_id).name %> to <%= @landmarks.find(r.destination_id).name %> </h4>
    <p class="list-group-item-text"> Description: <%= r.description %> </p>
    <p class="list-group-item-text">  <%= r.datetime %> </p>
  </a>
  </li>

  <br>
  <% end %>
  
</div>